<div class="main-container">
  <ion-grid>

    <ion-row class="headers"> 

      <ion-col>
        <h5>ID</h5>
      </ion-col>
      <ion-col>
        <h5>Peso</h5>
      </ion-col>
      <ion-col>
        <h5>Acto</h5>
      </ion-col>
      <ion-col>
        <h5>Fecha</h5>
      </ion-col>

    </ion-row>

    <ion-row> 

      <ion-col>
        <h5>1</h5>
      </ion-col>
      <ion-col>
        <h5>120 kg</h5>
      </ion-col>
      <ion-col>
        <h5>Nacimiento</h5>
      </ion-col>
      <ion-col>
        <h5>2020-06-12</h5>
      </ion-col>

    </ion-row>

    <ion-row> 

      <ion-col>
        <h5>2</h5>
      </ion-col>
      <ion-col>
        <h5>340 kg</h5>
      </ion-col>
      <ion-col>
        <h5>Enfermedad</h5>
      </ion-col>
      <ion-col>
        <h5>2020-06-12</h5>
      </ion-col>

    </ion-row>

  </ion-grid>
</div>
