.main-container{

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);


}

ion-grid{

text-align: center;


}

ion-row{

border-bottom: 2px solid #284b63;

}

.headers{

color: #f5cb5c;

}

h5{

    font-size: small;

}